/*

@media (min-width:320px) and (max-width: 480px) {  smartphones, iPhone, portrait 480x320 phones  }
@media (min-width:481px) and (max-width: 640px) {  portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide.  }
@media (min-width:641px) and (max-width: 960px) {  portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones  }
@media (min-width:961px) and (max-width: 1024px) {  tablet, landscape iPad, lo-res laptops ands desktops  }
@media (min-width:1025px) and (max-width: 1280px) {  big landscape tablets, laptops, and desktops  }
@media (min-width:1281px) {  hi-res laptops and desktops  }

*/

/* media for menu */
@media (min-width: 300px) and (max-width: 781px) {
    .navbar {
        opacity: 1 !important;
    }
    
    .navbar li a{
        background-color: #020134 !important;
    }
    
    .navbar-brand {
        padding-top: 25px !important;
        font-size: 16px !important;
        height: 35px !important;
    }
    
    .navbar-brand img {
        display: none !important;
    }
    
    .navbar li {
        letter-spacing: normal !important;
        font-size: 13px !important;
    }
}

/* background color bug fix for menu */
@media (min-width: 768px) {
    .navbar li a{
        background-color: transparent !important;
    }
}

@media (min-width: 782px) and (max-width: 1160px) {
    .navbar-brand {
        padding-top: 25px !important;
        height: 35px !important;
        font-size: 17px !important;
    }
    
    .navbar-brand img {
        display: none !important;
    }
    
    .navbar li {
        letter-spacing: 1px !important;
        font-size: 14px !important;
    }
}

/* media for carousel info block */
@media (min-width: 825px) and (max-width: 1001px) {
    .carousel-img {
        height: 450px !important;
    }
    
    .carousel-info-block {
        top: 25% !important; 
        height: 260px !important;
        width: 250px !important;
        padding: 12px 21px 20px 30px !important;
    }
    
    .carousel-info-block h3 {
        font-size: 19px !important;
    }
    
    .carousel-info-block p {
        font-size: 17px !important;
        margin-top: 10px !important;
    }
}

@media (min-width: 781px) and (max-width: 826px) {
    .carousel-img {
        height: 350px !important;
    }
    
    .carousel-info-block {
        top: 25% !important; 
        height: 200px !important;
        width: 200px !important;
        padding: 0 20px 20px 30px !important;
    }
    
    .carousel-info-block h3 {
        font-size: 15px !important;
    }
    
    .carousel-info-block p {
        font-size: 12px !important;
        margin-top: 10px !important;
    }
    
    .info-block3 {
        right: 35% !important;
        left: auto;
    }
}

@media (min-width: 475px) and (max-width: 780px) {
    .carousel-img {
        height: 300px !important;
    }
    
    .carousel-info-block {
        top: 27% !important; 
        height: 160px !important;
        width: 220px !important;
        padding: 0px 20px 20px 30px !important;
    }
    
    .carousel-info-block h3 {
        font-size: 14px !important;
    }
    
    .carousel-info-block p {
        font-size: 12px !important;
        margin-top: 10px !important;
    }
    
    .info-block3 {
        right: 28% !important;
        left: auto;
    }
}

@media (min-width: 100px) and (max-width: 475px) {
    .carousel-img {
        height: 250px !important;
    }
    
    .carousel-info-block {
        top: 25% !important; 
        height: 140px !important;
        width: 230px !important;
        padding: 0px 15px 20px 25px !important;
    }
    
    .carousel-info-block h3 {
        font-size: 13px !important;
    }
    
    .carousel-info-block p {
        font-size: 11px !important;
        margin-top: 5px !important;
    }
    
    .info-block1 {
        left: 15% !important;
        right: auto;
    }

    .info-block2 {
        left: 15% !important;
        right: auto;
    }

    .info-block3 {
        right: 10% !important;
        left: auto;
    }

    .info-block4 {
        right: 15% !important;
        left: auto;
    }

    .info-block5 {
        right: 15% !important;
        left: auto;
    }
}

/* global */
body {
    position: relative;
}

a {
    font-family: inherit;
    font-size: inherit;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}

a:hover, a:focus {
    color: #13c702;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}

/* global padding fix */
.row {
  padding: 0;
  margin: 0;
}

/* scrollSpy */
#scrollSpyArrow {
    width: 70px;
    height: 70px;
    background: #020134;
    position: fixed;
    bottom: 100px;
    right: 40px;
    font-size: 40px;
    visibility: hidden;
    opacity: 0;
    z-index: 9999;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}

#scrollSpyArrow:hover, #scrollSpyArrow:focus {
    background: #066d03;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}

#scrollSpyArrow a {
    display: block;
    color: #fff;
    padding: 10px 0 0 4px;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}

/* menu nav */
.nav-container {
    width: 100%;
    margin: 0;
    padding: 0 15px 0 0;
    height: 70px;
    
}

.navbar {
    margin-bottom: 0;
    background-color: transparent;
    border: 0;
    font-size: 16px !important;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 0;
    opacity: 0.9;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    -webkit-backface-visibility: hidden;
}

.navbar-brand {
    margin: 0;
    padding: 0 0 0 15px;
    height: 70px;
    color: #fff !important;
    font-size: 20px;
    font-weight: bold;
}

.navbar-brand img {
    display: inline-block;
}

.navbar li a{
    padding-top: 25px;
    height: 70px;
    font-weight: bold;
    -webkit-transition: 0.9s;
    -moz-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
    color: #fff !important;
    background-color: transparent;
}

.navbar-nav li a:hover, .navbar-nav li a:focus, .navbar-nav li.active a {
    color: #fff !important;
    background-color: #13c702 !important;
}

.navbar-default .navbar-toggle {
    margin-top: 15px;
    border-color: transparent;
    color: #171780 !important;
    background-color: #fff !important;
}

.add_job_button {
    background-color: green !important;
}

.glyphicon-plus {
    color: #13c702;
}

.glyphicon-user {
    font-size: 16px;
}

.glyphicon-lock {
    font-size: 16px;
}

.navbar .nav .dropdown.open .caret {
    border-top-width: 0;
    border-bottom: 4px solid #fff;
}

/* lang size */
.navbar .dropdown-menu {
    padding: 0;
    min-width: 72px;
}

.navbar .dropdown-menu li {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #020134;
}

.navbar .dropdown-menu li a{
    padding-top: 25px !important;
}

/* Login modal */
.modal-header, .modal-body {
    padding: 20px 20px;
}

.modal-header, .modal-header h4, .modal-header span {
    background-color: #020134;
    color: #fff !important;
    text-align: center;
    font-size: 22px;
}

.modal-body a {
    padding-top: 10px;
}

.modal-body h4 {
    background-color: #020134;
    color: #fff;
    font-size: 20px;
}

.modal-footer p {
    padding-top: 7px;
}

@media (max-width: 402px){
    .modal-footer p {
        padding-top: 0px;
    }
}

#RegisterModal .row {
    padding: 0px 16px 0px 16px; 
}

#RegisterModal #checkBox {
    color: #8c8c8c;
    padding-top: 5px;
}

#RegisterModal #checkBox a {
    color: #8c8c8c;
    padding-top: 5px;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    text-decoration: underline;
}

#RegisterModal #checkBox a:hover, #RegisterModal #checkBox a:focus {
    color: #13c702;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    text-decoration: underline;
}

/* input checks modal */
.modal-error-msg {
    color: brown;
}

/* buttons */
.btn-success {
    background: #066d03;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
}

.btn-success:hover, .btn-success:focus {
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}

.btn-danger {
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    font-weight: bold;
}

.btn-danger:hover, .btn-danger:focus {
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    font-weight: bold;
}

/* carousel */
.carousel-inner img {
    width: 100%;
    margin: auto;
}

/* to work use div instead of img and set class */
.carousel-img {
    width: auto;
    height: 600px;
    background-position: center;
    background-size: cover;
}

#carousel-img-1 {
    background-image: url(../img/main/img1.jpg);
}

#carousel-img-2 {
    background-image: url(../img/main/img2.jpg);
}

#carousel-img-3 {
    background-image: url(../img/main/img3.jpg);
}

#carousel-img-4 {
    background-image: url(../img/main/img4.jpg);
}

#carousel-img-5 {
    background-image: url(../img/main/img5.jpg);
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel {
    position: relative;
}

/* info block*/
.carousel-info-block {
    top: 25%; 
    bottom: auto;
    -webkit-border-radius: 15px 50px;
    -moz-border-radius: 15px 50px;
    border-radius: 15px 50px;
    -webkit-background-clip: padding-box; 
    -moz-background-clip: padding; 
    background-clip: padding-box;
    position: absolute;
    z-index: 1;
    padding: 20px 20px 20px 20px;
    background: #066d03;
    opacity: 0.8;
    height: 300px;
    width: 300px;
    color: #fff;
}

.carousel-info-block p {
    font-size: 18px;
    color: #fff;
    margin-top: 25px;
}

.carousel-info-block strong {
    text-decoration: underline;
}

.info-block1 {
    left: 15%;
    right: auto;
}

.info-block2 {
    left: 25%;
    right: auto;
}

.info-block3 {
    right: 39%;
    left: auto;
}

.info-block4 {
    right: 20%;
    left: auto;
}

.info-block5 {
    right: 10%;
    left: auto;
}

/* search panel
.search-panel-wrap {
    padding: 25px 10px 0px 10px;
    background-color: #020134;
    border: 1px solid #000;
}
*/

.btn-srch {
    width: 100%;
    background: #066d03;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    font-weight: bold;
}

.container {
    padding: 30px 30px 45px 30px;
}

/* categories */
.categories {
    padding: 50px 0 50px 0; 
}

#img-cat-courier {
    height: 200px;
    width: 200px;
    display: inline-block;
    position: relative;
    background: url(../img/categories/main/courier.png) no-repeat;
}

#img-cat-courier span {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: url(../img/categories/main/hover/courier.png) no-repeat;
}

#img-cat-home-repairs {
    height: 200px;
    width: 200px;
    display: inline-block;
    position: relative;
    background: url(../img/categories/main/house_repairs.png) no-repeat;
}

#img-cat-home-repairs span {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: url(../img/categories/main/hover/house_repairs.png) no-repeat;
}

#img-cat-transportation {
    height: 200px;
    width: 200px;
    display: inline-block;
    position: relative;
    background: url(../img/categories/main/transportation.png) no-repeat;
}

#img-cat-transportation span {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: url(../img/categories/main/hover/transportation.png) no-repeat;
}

#img-cat-cleaning {
    height: 200px;
    width: 200px;
    display: inline-block;
    position: relative;
    background: url(../img/categories/main/cleaning.png) no-repeat;
}

#img-cat-cleaning span {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: url(../img/categories/main/hover/cleaning.png) no-repeat;
}

.cat-block-element {
    padding: 20px 0 20px 0;
}

.cat-link {
    padding: 5px;
    font-size: 16px;
    display: block;
    color: inherit;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}

.cat-link:hover, .cat-link:focus {
    background-color: #066d03;
    color: #fff;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    text-decoration: none;
}

.cat-link-expand {
    font-size: 14px;
    display: block;
    color: inherit;
    text-decoration: underline;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}

.cat-link-expand:hover, .cat-link-expand:focus {
    background-color: #066d03;
    color: #fff;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    text-decoration: none;
}

.collapse-fadeOut {
    opacity: 0;
}

#all-cat-button {
    color: #f09609;
    font-size: 30px;
    font-weight: bold;
    border: #f09609 solid 3px;
    padding: 15px 19px 15px 19px;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}

#all-cat-button:hover, #all-cat-button:focus {
    color: #fff;
    border: #066d03 solid 1px;
    
    background-color: #066d03;
    text-decoration: none;
    transition: 0.7s;
}

/* description glyphs */
.glyph-descr {
    color: #020134;
    font-size: 200px;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}

.glyph-descr:hover, .glyph-descr:focus {
    color: #f09609;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}

.text-v-al {
    padding: 3% 25px 1% 25px;
}

.blue-bg {
    background-color: #ebeaf8;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    box-shadow: 0 0 5px 1px rgba(0,0,0, .2);
}

.blue-bg-list {
    background-color: #ebeaf8;
    box-shadow: 0 0 5px 1px rgba(0,0,0, .2);
}

h1 {
    padding-bottom: 20px;
}

/* total orders */
.total-orders-container {
    padding: 30px 0px 30px 0px;
}

.total-orders-container span {
    color: #f09609;
    font-weight: bold;
    letter-spacing: 2px;
}

/* social icons */
#main-social {
    padding: 50px 10px 0 10px;
}

/* breadcrumb menu */
.breadcrumb {
    background: #020134;
    border-radius: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 0 15px 5px rgba(0,0,0, .2);
}

.breadcrumb a {
    color: #fff;
}

.breadcrumb a:hover, .breadcrumb a:focus {
    color: #13c702;
}

.page-header-img {
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

/* page header img heading */
.page-header-heading {
    margin: 0 auto;
    font-family: inherit;
    color: #fff;
    font-weight: bold;
}

/* all categories */
.all-categories-header-img {
    background-image: url(../img/page_headers/header_all_categories.png);
    height: 300px;
}

.all-categories-header {
    padding-top: 190px;
    font-size: 4.5em;
    opacity: 1;
}

.all-cat-links a {
    padding-left: 10px;
}

#img-all-cat-courier {
    height: 70px;
    width: 70px;
    display: inline-block;
    position: relative;
    background: url(../img/categories/all_cat/courier.png) no-repeat;
}

#img-all-cat-courier span {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: url(../img/categories/all_cat/hover/courier.png) no-repeat;
}

#img-all-cat-home-repairs {
    height: 70px;
    width: 70px;
    display: inline-block;
    position: relative;
    background: url(../img/categories/all_cat/house_repairs.png) no-repeat;
}

#img-all-cat-home-repairs span {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: url(../img/categories/all_cat/hover/house_repairs.png) no-repeat;
}

#img-all-cat-transportation {
    height: 70px;
    width: 70px;
    display: inline-block;
    position: relative;
    background: url(../img/categories/all_cat/transportation.png) no-repeat;
}

#img-all-cat-transportation span {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: url(../img/categories/all_cat/hover/transportation.png) no-repeat;
}

#img-all-cat-cleaning {
    height: 70px;
    width: 70px;
    display: inline-block;
    position: relative;
    background: url(../img/categories/all_cat/cleaning.png) no-repeat;
}

#img-all-cat-cleaning span {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: url(../img/categories/all_cat/hover/cleaning.png) no-repeat;
}

#img-all-cat-virtual-help {
    height: 70px;
    width: 70px;
    display: inline-block;
    position: relative;
    background: url(../img/categories/all_cat/virtual_help.png) no-repeat;
}

#img-all-cat-virtual-help span {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: url(../img/categories/all_cat/hover/virtual_help.png) no-repeat;
}

#img-all-cat-computer {
    height: 70px;
    width: 70px;
    display: inline-block;
    position: relative;
    background: url(../img/categories/all_cat/computer.png) no-repeat;
}

#img-all-cat-computer span {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: url(../img/categories/all_cat/hover/computer.png) no-repeat;
}

#img-all-cat-party {
    height: 70px;
    width: 70px;
    display: inline-block;
    position: relative;
    background: url(../img/categories/all_cat/party.png) no-repeat;
}

#img-all-cat-party span {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: url(../img/categories/all_cat/hover/party.png) no-repeat;
}

#img-all-cat-design {
    height: 70px;
    width: 70px;
    display: inline-block;
    position: relative;
    background: url(../img/categories/all_cat/design.png) no-repeat;
}

#img-all-cat-design span {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: url(../img/categories/all_cat/hover/design.png) no-repeat;
}

#img-all-cat-web-dev {
    height: 70px;
    width: 70px;
    display: inline-block;
    position: relative;
    background: url(../img/categories/all_cat/webDev.png) no-repeat;
}

#img-all-cat-web-dev span {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: url(../img/categories/all_cat/hover/webDev.png) no-repeat;
}

#img-all-cat-photo-video {
    height: 70px;
    width: 70px;
    display: inline-block;
    position: relative;
    background: url(../img/categories/all_cat/photo_video.png) no-repeat;
}

#img-all-cat-photo-video span {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: url(../img/categories/all_cat/hover/photo_video.png) no-repeat;
}

#img-all-cat-service-repairs {
    height: 70px;
    width: 70px;
    display: inline-block;
    position: relative;
    background: url(../img/categories/all_cat/service_repairs.png) no-repeat;
}

#img-all-cat-service-repairs span {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: url(../img/categories/all_cat/hover/service_repairs.png) no-repeat;
}

#img-all-cat-health-beaty {
    height: 70px;
    width: 70px;
    display: inline-block;
    position: relative;
    background: url(../img/categories/all_cat/health_beaty.png) no-repeat;
}

#img-all-cat-health-beaty span {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: url(../img/categories/all_cat/hover/health_beaty.png) no-repeat;
}

#img-all-cat-phone-repairs {
    height: 70px;
    width: 70px;
    display: inline-block;
    position: relative;
    background: url(../img/categories/all_cat/phone_repairs.png) no-repeat;
}

#img-all-cat-phone-repairs span {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: url(../img/categories/all_cat/hover/phone_repairs.png) no-repeat;
}

#img-all-cat-solicitor {
    height: 70px;
    width: 70px;
    display: inline-block;
    position: relative;
    background: url(../img/categories/all_cat/solicitor.png) no-repeat;
}

#img-all-cat-solicitor span {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: url(../img/categories/all_cat/hover/solicitor.png) no-repeat;
}

/* center block float fix */
.center-block { 
    float: none; 
}

/* profile */
.profile-header {
    background-image: url(../img/page_headers/header_profile.png);
    padding-top: 75px;
    color: #fff;
}

.profile-header h1 {
    margin-bottom: 5px;
}

.profile-header img {
    margin: 20px 0 25px 0;
}

.profile-header span {
    font-size: 16px;
    color: #fff;
}

.profile-header .glyphicon {
    color: #f09609;
}

.profile-header .glyphicon-ok {
    color: #13c702;
}

#suggest-task {
    margin: 0;
}

.btn-warning {
    margin: 5px;
    background: #f09609;
    border: none;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}

.profile-header .btn-warning span {
    color: #fff;
}

.btn-warning:hover, .profile-header .btn-warning:focus {
    background: #066d03;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}

.profile-header hr {
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.profile-header .count {
    font-size: 28px;
    color: #f09609;
    font-weight: bold;
    letter-spacing: 2px;
}

.profile-stats h2 {
    padding-bottom: 20px; 
}

.profile-stats span {
    padding: 0 20px;
}

.profile-header .profile-created-tasks-rating {
    float: none;
}

span.count-stars {
    font-size: 28px;
    color: #f09609;
    padding: 5px;
}

.task-listing {
    padding: 25px 5px 15px 5px;
}

.task-listing a {
    display: block;
}

.task-listing img {
    margin: 5px 0 20px 0;
}

.task-heading {
    color: black;
    font-size: 20px;
}

.task-user {
    color: black;
}

.task-price {
    font-size: 20px;
    font-weight: bold;
    color: #f09609;
    padding-left: -6px;
    margin-left: -6px;
}

.extra-description {
    padding-top: 2px;
}

.user-reviews {
    padding: 15px 5px;
}

.user-reviews img {
    margin: 15px 0 20px 0;
    width: 100px;
    height: 100px;
}

.user-reviews a {
    display: block;
}

.user-reviews .task-heading {
    padding: 10px 0;
}

.rating {
    color: #f09609;
}

.finished-date {
    color: #13c702;
}

.user-reviews .extra-description {
    padding-top: 15px;
}

.cat-listing img {
    margin: 20px 0 20px 0;
}

.profile-favorites {
    padding: 40px 0;
}

.profile-favorites-img {
    width: 100px;
    height: 100px;
    margin: 10px;
}

/* tooltips */
.tooltip .tooltip-inner {
    padding: 5px 20px;
}

.profile-created-tasks-rating-container {
    padding: 5px 0 15px 0;
}

.profile-created-tasks-rating {
    display: block;
    float:left;
    padding-right: 10px;
}

.user-msg-inbox img{
    width: 100px;
    height: 100px;
}

.user-msg-inbox .task-user {
    padding-top: 10px;
}

.profile-msg-time {
    color: #8c8c8c;
}

#suggestTaskModal .modal-content .modal-body {
    padding-left: 8px;
    padding-right: 8px;
}

#suggestTaskModal .modal-body img {
    width: 40px;
    height: 40px;
}

#suggestTaskModal .modal-body .task-heading {
    font-size: 17px;
    padding-top: 13px;
}

.profile-menu {
    font-size: 15px;
}

#leaveReviewModal .rating {
    font-size: 22px;
    letter-spacing: 2px;
}

/* settings page */
.settings-header-img {
    background-image: url(../img/page_headers/settings.png);
    height: 300px;
}





















/* footer */
footer {
    padding-top: 50px;
    background-color: #020134;
    border: 1px solid #000;
    box-shadow: 0 0 15px 5px rgba(0,0,0, .2);
}

footer .form-group {
    padding: 5px 30% 0 0;
}

#copyrights {
    color: #8c8c8c;
    padding: 20px 0px;
}

footer a {
    display: block;
    color: #fff;
}

.social-icons-container hr {
    margin: 50px 75px;
}

.social-icons-container h3 {
    padding-bottom: 10px;
    color: #fff;
}

.social-icons-container h4 {
    padding: 10px;
    color: #fff;
}

#draugiem-icon {
    height: 40px;
    width: 40px;
    display: inline-block;
    position: relative;
    background: url(../img/social_icon/draugiemIcon.png) no-repeat;
}

#draugiem-icon span {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: url(../img/social_icon/hover/draugiemIcon.png) no-repeat;
}

#odnoklassniki-icon {
    height: 40px;
    width: 40px;
    display: inline-block;
    position: relative;
    background: url(../img/social_icon/odnoklassnikiIcon.png) no-repeat;
}

#odnoklassniki-icon span {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: url(../img/social_icon/hover/odnoklassnikiIcon.png) no-repeat;
}

#facebook-icon {
    height: 40px;
    width: 40px;
    display: inline-block;
    position: relative;
    background: url(../img/social_icon/facebookIcon.png) no-repeat;
}

#facebook-icon span {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: url(../img/social_icon/hover/facebookIcon.png) no-repeat;
}

#googlePlus-icon {
    height: 40px;
    width: 40px;
    display: inline-block;
    position: relative;
    background: url(../img/social_icon/googlePlusIcon.png) no-repeat;
}

#googlePlus-icon span {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: url(../img/social_icon/hover/googlePlusIcon.png) no-repeat;
}

#twitter-icon {
    height: 40px;
    width: 40px;
    display: inline-block;
    position: relative;
    background: url(../img/social_icon/twitterIcon.png) no-repeat;
}

#twitter-icon span {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: url(../img/social_icon/hover/twitterIcon.png) no-repeat;
}









/* background-color: #2769bb; - blue */
/* #066d03; - green */
/* #f09609 - orange */